*.bin filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
test_data filter=lfs diff=lfs merge=lfs -text
FFT_data filter=lfs diff=lfs merge=lfs -text
data_fft_autocorr_int filter=lfs diff=lfs merge=lfs -text
